* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}
/* Css for Index */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 10vh 0;
  background: #fbfbfb;
}
.container {
  display: flex;
}

.title {
  padding-bottom: 15px;
  text-transform: capitalize;
  color: #1985a1;
}

.box {
  border: 2px #cccccc solid;
  height: max-content;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  height: 400px;
  width: calc(100vw / 5);
  text-decoration: none;
  margin-right: 30px;
  transition: 0.2s;
}

.box:last-child {
  margin: 0;
}

.box:hover {
  transform: translate(0, -5px);
  box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}

.box:hover .subtitle {
  color: #e93143;
  transition: 0.2s;
}

.box img {
  min-height: 100px;
  min-width: 100px;
  max-height: 30vh;
  max-width: 20vw;
}

.subtitle {
  color: #eb5160;
  transition: 0.2s;
  margin: 10px 0 10px 0;
}

.description {
  color: #071013;
}

footer {
  position: sticky;
  bottom: 0;
  width: 100vw;
  text-align: center;
  padding: 10px 0px;
  background-color: #fbfbfb;
}

/* Css For recipes pages*/

ul,
ol {
  list-style-position: inside;
}

.recipe-container {
  margin: 0px 25vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #071013;
}

.recipe-container img {
  min-height: 100px;
  min-width: 100px;
  max-height: 40vh;
  max-width: 500vw;
}
.recipe-container .title {
  width: 100%;
  text-align: center;
}

.ingredient {
  height: auto;
}

.stitle {
  font-weight: 500;
  color: #00a878;
}

.ingredient ul,
.recipes ol {
  margin-top: 10px;
}

.items span {
  font-weight: 500;
}

.recipes .items::marker {
  font-weight: 500;
}

.items {
  margin-bottom: 5px;
}

.items:last-child {
  margin: 0;
}
